WebServices/JavaApplication5/xml-resources/web-service-references/WebCalculator/wsdl/localhost_9999/WebCalculator.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webService/" name="WebPizzaService">
<types>
<xsd:schema>
<xsd:import namespace="http://webService/" schemaLocation="http://localhost:9999/WebCalculator?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getKaas">
<part name="parameters" element="tns:getKaas"></part>
</message>
<message name="getKaasResponse">
<part name="parameters" element="tns:getKaasResponse"></part>
</message>
<message name="combineWebPizza">
<part name="parameters" element="tns:combineWebPizza"></part>
</message>
<message name="combineWebPizzaResponse">
<part name="parameters" element="tns:combineWebPizzaResponse"></part>
</message>
<message name="getDeeg">
<part name="parameters" element="tns:getDeeg"></part>
</message>
<message name="getDeegResponse">
<part name="parameters" element="tns:getDeegResponse"></part>
</message>
<message name="getGroenten">
<part name="parameters" element="tns:getGroenten"></part>
</message>
<message name="getGroentenResponse">
<part name="parameters" element="tns:getGroentenResponse"></part>
</message>
<message name="getSaus">
<part name="parameters" element="tns:getSaus"></part>
</message>
<message name="getSausResponse">
<part name="parameters" element="tns:getSausResponse"></part>
</message>
<message name="addGroenten">
<part name="parameters" element="tns:addGroenten"></part>
</message>
<message name="addGroentenResponse">
<part name="parameters" element="tns:addGroentenResponse"></part>
</message>
<message name="getKookTijd">
<part name="parameters" element="tns:getKookTijd"></part>
</message>
<message name="getKookTijdResponse">
<part name="parameters" element="tns:getKookTijdResponse"></part>
</message>
<portType name="WebPizza">
<operation name="getKaas">
<input wsam:Action="http://webService/WebPizza/getKaasRequest" message="tns:getKaas"></input>
<output wsam:Action="http://webService/WebPizza/getKaasResponse" message="tns:getKaasResponse"></output>
</operation>
<operation name="combineWebPizza">
<input wsam:Action="http://webService/WebPizza/combineWebPizzaRequest" message="tns:combineWebPizza"></input>
<output wsam:Action="http://webService/WebPizza/combineWebPizzaResponse" message="tns:combineWebPizzaResponse"></output>
</operation>
<operation name="getDeeg">
<input wsam:Action="http://webService/WebPizza/getDeegRequest" message="tns:getDeeg"></input>
<output wsam:Action="http://webService/WebPizza/getDeegResponse" message="tns:getDeegResponse"></output>
</operation>
<operation name="getGroenten">
<input wsam:Action="http://webService/WebPizza/getGroentenRequest" message="tns:getGroenten"></input>
<output wsam:Action="http://webService/WebPizza/getGroentenResponse" message="tns:getGroentenResponse"></output>
</operation>
<operation name="getSaus">
<input wsam:Action="http://webService/WebPizza/getSausRequest" message="tns:getSaus"></input>
<output wsam:Action="http://webService/WebPizza/getSausResponse" message="tns:getSausResponse"></output>
</operation>
<operation name="addGroenten">
<input wsam:Action="http://webService/WebPizza/addGroentenRequest" message="tns:addGroenten"></input>
<output wsam:Action="http://webService/WebPizza/addGroentenResponse" message="tns:addGroentenResponse"></output>
</operation>
<operation name="getKookTijd">
<input wsam:Action="http://webService/WebPizza/getKookTijdRequest" message="tns:getKookTijd"></input>
<output wsam:Action="http://webService/WebPizza/getKookTijdResponse" message="tns:getKookTijdResponse"></output>
</operation>
</portType>
<binding name="WebPizzaPortBinding" type="tns:WebPizza">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getKaas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="combineWebPizza">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDeeg">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getGroenten">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getSaus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addGroenten">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getKookTijd">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="WebPizzaService">
<port name="WebPizzaPort" binding="tns:WebPizzaPortBinding">
<soap:address location="http://localhost:9999/WebCalculator"></soap:address>
</port>
</service>
</definitions>